<%= link_to( "Edit", edit_post_path(@post) ) %>

<div>
  <img src="<%= @post.image.url %>">
  <%= @post.content %>
</div>

<a href="/posts/<%= @post.id %>" data-method="delete">Delete</a>
<%= link_to( "Delete", @post, method: :delete ) %>